body{
margin:0;
font-family: 'Segoe UI', sans-serif;
background: linear-gradient(to right,#1f4037,#99f2c8);
color:#333;
}

/* HERO SECTION */

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:80px;
color:white;
}

.hero-text h1{
font-size:48px;
margin-bottom:10px;
}

.hero-text p{
font-size:22px;
margin-bottom:20px;
}

.btn{
background:#ff9800;
color:white;
padding:12px 25px;
text-decoration:none;
border-radius:30px;
font-weight:bold;
transition:0.3s;
}

.btn:hover{
background:#e68900;
}

.hero-img img{
width:350px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

/* SECTION STYLE */

section{
padding:60px;
margin:40px;
background:white;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

/* SKILLS */

.box{
background:#f7f7f7;
padding:20px;
margin:15px 0;
border-left:6px solid #ff9800;
border-radius:6px;
}

/* PROJECTS */

.project{
background:#f7f7f7;
padding:20px;
margin:15px 0;
border-left:6px solid #4CAF50;
border-radius:6px;
}

/* CONTACT */

.contact p{
font-size:18px;
margin:8px 0;
}

/* FOOTER */

footer{
background:black;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
font-size:16px;
}
