body{
margin:0;
font-family:Segoe UI;
background:#f4f4f4;
}


/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#222;
color:white;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav ul li a{
color:white;
text-decoration:none;
}


/* HERO */

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:80px;
background:linear-gradient(120deg,#2980b9,#6dd5fa);
color:white;
}

.hero-img img{
width:350px;
border-radius:10px;
}

.hero-text span{
color:yellow;
}

.btn{
background:#ff9800;
padding:12px 25px;
border-radius:25px;
color:white;
text-decoration:none;
}


/* SECTIONS */

section{
padding:60px;
text-align:center;
}


/* SKILLS */

.skill-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
}

.skill-card{
background:white;
padding:20px;
margin:10px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.2);
}


/* PROJECTS */

.project-card{
background:white;
margin:20px auto;
padding:20px;
width:60%;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.2);
}


/* FOOTER */

footer{
background:#222;
color:white;
text-align:center;
padding:20px;
}
