body{
margin:0;
font-family:Arial;
background:linear-gradient(to right,#134e5e,#71b280);
color:white;
}


/* HERO */

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:80px;
}

.hero-text h1{
font-size:48px;
}

.hero-text p{
font-size:22px;
margin-bottom:20px;
}

.btn{
background:#ff9800;
padding:12px 25px;
color:white;
text-decoration:none;
border-radius:25px;
font-weight:bold;
}

.hero-image img{
width:350px;
border-radius:10px;
}


/* SECTIONS */

section{
background:white;
color:black;
margin:40px;
padding:40px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}


footer{
background:black;
text-align:center;
padding:20px;
}
